* {
    text-decoration: none;
    color: #000;
}

.container {
    border: 1px solid #eee;
    margin: 30px 40px;
    padding: 20px 60px;
    font-family: 'Assistant';
}

nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    align-items: center;

    .logo > a{
        color: #53BD95;
        font-size: xx-large;
        font-weight: bold;
        i {
            color: #53BD95;
        }
    }
    
    .links > a {
        padding-left: 20px;
        font-weight: bold;
        
    }
    .links > a:hover {
        text-decoration: underline;
    }

    .linkss > a {
        padding: 10px 15px;
        font-weight: bold;

        &:hover {
            background-color: #53BD95;
            border-radius: 5px;
            color: #fff;
        }
    }
}

.main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 13px;

    .left {
        display: flex;
        .child > a {
            padding-right: 20px;
            font-weight: bold;
            color: rgb(136, 132, 132);
            border-bottom: 1px solid #53BD95;  
        }
        .child a:hover {
            color: #53BD95;
        } 
    }
    .right {
        .child2 a{
            color: #aaa;
            font-weight: bold;
        }
        i {
            color: #aaa;
        }
        .child2 a:hover {
            color: #000;
            font-weight: bold;
        }
    }
}

.line {
    border: 1px solid rgb(233, 230, 230);
}
