$main: #53BD95;

body{
    padding: 0;
    margin: 0;
}

* {
    text-decoration: none;
    color: #000;
}

.container {
    // border: 1px solid #eee;
    // margin: 30px 40px;
    margin: 0;
    padding: 20px 60px;
    font-family: 'Assistant';
}

nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    align-items: center;

    .logo > a{
        color: $main;
        font-size: xx-large;
        font-weight: bold;
        i {
            color: $main;
        }
    }
    
    .links > a {
        padding-left: 20px;
        font-weight: bold;
        
    }
    .links > a:hover {
        text-decoration: underline;
    }

    .linkss > a {
        padding: 10px 15px;
        font-weight: bold;

        &:hover {
            background-color: $main;
            border-radius: 5px;
            color: #fff;
        }
    }
}

.main {
    display: flex;
    justify-content: space-between;
    // padding-bottom: 13px;
    border-bottom: 2px solid rgb(233, 230, 230);

    .child, .child2{
        padding-bottom: 15px;
        padding-right: 20px;
        a{
            padding-bottom: 15px;
            height: 100%;
        }
    }

    .left {
        display: flex;
        .child > a {
            font-weight: bold;
            color: rgb(136, 132, 132);
        }
        .child a:hover {
            color: $main;
            border-bottom: 2px solid $main;
        } 
    }
    .right {
        .child2 a{
            color: #aaa;
            font-weight: bold;
        }
        i {
            color: #aaa;
        }
        .child2 a:hover {
            i{
                color: $main;
            }
            color: $main;
            font-weight: bold;
        }
    }
}
